<!-- displaying all reviews in each listing -->
<h4>All reviews</h4>
<div class="row">
    <%for(review of listing.reviews){%>
        <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">
                        <!--Using nested populate (print this or check models for revision)-->
                        @<%=review.owner.username%>
                </h5>
                <div class="card-text">
                    <p class="starability-result" data-rating=<%=review.rating%>> </p>
                </div>
                <div class="card-text">
                    <%=review.comment%>
                </div>
                <%if(currUser && review.owner._id.equals(currUser._id)){%>
                    <form class="mt-3 mb-3" method="post"
                        action="/listing/<%=listing._id%>/review/<%=review._id%>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                    <%}%>
            </div>
        </div>
        <br>
        <%}%>
</div>